
<div class="nav-menu">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink class="nav-link" href="billlist">Bills</NavLink>
    <NavLink class="nav-link" href="accountlist">Accounts</NavLink>
    <NavLink class="nav-link" href="upcomingbills">Upcoming Bills</NavLink>
    <NavLink class="nav-link" href="profile">Profile</NavLink>
    <!-- Add other navigation links as needed -->
</div>

@code {
    // Any C# logic for the navigation menu can go here
}